---
import Layout from '../layouts/Layout.astro';

import Inicio from '../components/Inicio.astro';
import Footer from '../components/Footer.astro';
import SobreMi from '../components/SobreMi.astro';
import Cabecera from '../components/Cabecera.astro';
import Proyectos from '../components/Proyectos.astro';
import Experiencia from '../components/Experiencia.astro';
---

<Layout
  title="Portfolio de Juan - Desarrollador Web"
  description="Soy Juan Cristobal, desarrollador web full stack especializado en PHP, React y Laravel. Descubre mi portafolio, experiencia profesional y proyectos destacados."
>
  <Cabecera />

  <main class="w-[90%] md:max-w-4xl mx-auto py-12 flex flex-col gap-32">
    <Inicio />

    <Proyectos />

    <Experiencia />

    <SobreMi />

    <Footer />
  </main>
</Layout>
