<header
  class="md:max-w-2xl sticky top-0 z-10 text-sm text-gray-300 font-semibold pt-6 mx-auto"
>
  <nav
    class="w-[85%] py-2 mx-auto shadow-2xl shadow-black bg-gray-800 rounded-2xl"
  >
    <ul class="flex justify-evenly items-center gap-3">
      <li>
        <a class="hover:text-blue-700" href="#top">Inicio</a>
      </li>

      <li>
        <a class="hover:text-blue-700" href="#proyectos">Proyectos</a>
      </li>

      <li>
        <a class="hover:text-blue-700" href="#experiencia">Experiencia</a>
      </li>

      <li><a class="hover:text-blue-700" href="#sobre-mi">Sobre mí</a></li>
    </ul>
  </nav>
</header>
